* {
    box-sizing: border-box;
}
body {
    background-color: #ffdcc0; 
    background-image: url(https://wallsneedlove.com/cdn/shop/products/w0263_1s_Nautical-Waves-Wallpaper-for-Walls-Waves-of-Chic_Repeating-Pattern-Sample-1.jpg?v=1604091534);
    margin: 0;
}

div {
    background-color: rgba(23,23,23, .5);
    backdrop-filter: blur(8px);
    width: 350px;
    height: 100vh;
    padding: 60px;
}

h1 {
    color:rgb(18, 179, 149);
    font-family:"oswald";
    margin: 0;
}

a{
  color:aqua;  
}
p1{
    color:rgb(147, 177, 166);
    font-family:"oswald";

}
p2{
    color:rgb(147, 177, 166);
    font-family:"oswald";

}
img {
    display: block;
    height: 300px;
    width: 300px;
}

a{
    Padding-right: 150;
}